<div class="cards-container">
  <mat-card
    *ngFor="let book of books"
    class="card"
    [ngStyle]="
      book.coverUrl
        ? { 'background-image': 'url(' + book.coverUrl + ')' }
        : null
    "
    appearance="outlined"
  >
    <h5 class="book-name">{{ book.name }}</h5>
  </mat-card>
  <mat-card
    *ngIf="bookMark === BookUserStatus.OWN"
    class="card"
    appearance="outlined"
  >
    <button mat-button class="button" (click)="createBook()">
      <mat-icon>add</mat-icon>create
    </button>
  </mat-card>
</div>
