.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4px;
  gap: 8px;

  .card {
    width: 232px;
    height: 348px;
    background-position: center;
    background-size: cover;

    .book-name {
      font-style: bold;
      font-size: 16px;
      padding: 4px;
      align-content: end;
    }

    .button {
      height: 100%;
      width: 100%;
    }
  }
}